// fontes
$fontePrincipal: Roboto, sans-serif;

// posicionamento
$centerContent: 0 auto;

// esquema de cores
$bgColor: #f5f6fa;
$buttonColor: #44bd32;
$buttonHover: #4cd137;
$primaryColor: #182C61;
$linkColor: #fff;